.contact-us {
  text-align: center;

  font-size: 25px;
  color: rgb(255, 255, 255);



}
.contact-us h1 {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  text-decoration: none;
}
.contact-us p {
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: 15px;
}
.contact-us strong {
  color: #6c5ce7;
  font-size: 45px;
}

.lower_text {
  font-weight: 600;
  color: rgb(0, 238, 255);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate {

}

.animate2 {
  overflow: hidden;
  white-space: nowrap;

  animation: typing 5s steps(40, end) forwards;
  animation-delay: 4s;
}

.animate3 {
  overflow: scroll;
  white-space: wrap;

  animation: typing 5s steps(40, end);
  animation-delay: 5s;
}



@media (max-width: 600px) {
  .card {
    margin-left: 0 !important;
  }
  .contact-us {
    padding: 20px;
  }
  .contact-us h1 {
    font-size: 20px;
  }
  .contact-us p {
    font-size: 15px !important;
  }
  .contact-us strong {
    font-size: 25px;
  }
}

